.textInputClass {
    height: 40px;
    width: 120px;
    margin: 12px;
    border-width: 1px;
    padding: 10px;
}

.banner {
    background: #F77F00;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.bannerText{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}