.header {
    width: 90%;
    height: 40px;
    margin: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: left;

    /* Palette 1/Text */

    color: #003049;
}

.container {
    top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.profileContainer {
    height: 80px;
    width: 90%;
    flex-direction: row;
    margin: 10px;
}

.profileDetailsContainer {
    flex-direction: column;
    flex: 2;
}

.profileImageContainer {
    flex: 1;
    align-items: center;
    background-color: aqua;
    justify-content: center;
}

.profileName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #F77F00;
}

.profileDetails {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    /* Palette 1/Text */

    color: #003049;
}