.textInputClass {
    height: 40px;
    width: 300px;
    margin: 12px;
    border-width: 1px;
    padding: 10px;
    align-self: center;
}

.banner {
    background: #F77F00;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bannerText {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    /* font-family: montserrat; */
    letter-spacing: 0;
    color: #FFFFFF;
}