.demoClass {
    font-size: 50px;
    color: orange;
    text-align: center;
}
.logoClass{
    align-self: center;
}

.overlayView{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:'rgba(207, 207, 207, 0.2)'
}

.sloganClass{
    color:#003049;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    padding-bottom: 185;
    font-family: 'Montserrat';
}

.buttonText{
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
    font-family: 'Montserrat';
}

.button{
    background-color: #F77F00;
    height: 60px;
    width:250px;
    border-radius: 15px;
    align-items: center;
    align-self: center;
}

.fieldText{
    align-self: center;
    color: #FCBF49;
    font-size: 24px;
    padding-top: 50px;
}

.headerText{
    align-self: center;
    color: #F77F00;
    font-size: 35px;
    padding-bottom: 20px;
    font-family: 'Montserrat';
}

.nextButton{
    border-radius: 15px;
    align-items: center;
    padding-top: 20px;
}

.nextText{
    color: #FCBF49;
    font-size: 24px;
    font-family: 'Montserrat';
}

.requestText{
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    padding-bottom: 0px;
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    
}

.textInputClass {
    height: 49px;
    width: 300px;
    margin: 12px;
    border-width: 1px;
    padding: 10px;
    align-self: center;
    background-color: white;
    border-radius: 15px ;
    border-color: white;
    font-family: 'Montserrat';
}


.birthdayButton{
    background-color: white;
    height: 49px;
    width: 300px;
    margin: 12px;
    border-width: 1px;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    align-self: center;

}

.birthdayText{
    font-family: 'Montserrat';
    color: #808080;
}

.dateButton{
    background-color:white;
    height: 49px;
    width:300px;
    margin: 12px;
    border-width: 1px;
    padding: 10px;
    border-radius: 15px;
    border-color: white;
    align-self: center;
    align-items: center;
    align-self: center;
}

.dateText{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.dateContainer{
    background-color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    width: 19.5%;
    margin-left: 39.5%;
}

.datePadding{
    padding-bottom: 2%;
}

.fitnessNextText{
    color: #FCBF49;
    font-size: 24px;
    font-family: 'Montserrat';
}

.alignContainer{
    flex: auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.fitnessNextButton{
    max-height: 6%;
    align-items: center;
    max-width: 20%;
    margin-left: 70%;
    margin-top: 20%;
}

.fitnessInputClass{
    height: 49px;
    width: 122px;
    margin: auto;
    border-width: 1px;
    background-color: white;
    border-radius: 15px ;
    border-color: white;
    font-family: 'Montserrat';
    text-align: center;
}

.fitnessContainer{
    padding-top: 5%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}






