.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daysToGoContainer {
    background-color: white;
    width: 100%;
    height: 220px;
    margin-top: 13px;
    align-items: center;
}

.daysToGoText {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #003049;
    padding-top: 39px;
    margin-bottom: 38px;
    text-align: center;
    font-family: "Montserrat";
}

.daysToGoTextDays {
    font-size: 40px;
    font-family: "Montserrat-SemiBold";
    color: #F77F00;
}

.locationContainer {
    z-index: 8;
    background-color: #FCBF49;
    border-radius: 15px;
    padding: 4px;
    justify-content: center;
    height: 40px;
    width: 278px;
    opacity: 1.0;
}
.locationText {
    font-size: 24px;
    color: #EDF2F4;
    font-weight: normal;
    align-self: center;
    text-justify: center;
    text-transform: capitalize;
    font-family: "Montserrat";
}

.exercisePlanContainer {
    background-color: white;
    margin-top: 13px;
    height: 520px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.bonusPopUpContainer {
    width: 320px;
    height: 420px;
    padding: 40px 33px;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    z-index: 1;
    background: rgba(237, 242, 244, 0.8);
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.PopUpText {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #003049;
    font-family: "Montserrat";

}

.exerciseDateContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0 30px;
    width: 100%;
}

.exerciseDateText {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #F77F00;
    font-family: "Montserrat";

}

.setsContainer {
    flex-direction: column;
    padding: 20px 18px 0 30px;
}

.set {
    padding: 15px 0;
}

.setText {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    font-family: "Montserrat";
}

.setExercisesContainer {
    padding-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exercisesContainer {
    justify-content: flex-start;
}

.exerciseNameText {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: "Montserrat-Light";
}

.exerciseState {
    align-items: center;
    width: 80px;
}

.exerciseStateText {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: "Montserrat-Light";
}

.bonusExercisesContainer {
    background-color: white;
    margin-top: 13px;
    height: 540px;
    width: 100%;
    flex-direction: column;
}

.bonusExercisesHeaderText {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-top: 20px;
    text-align: center;
    font-family: "Montserrat";
    color: #F77F00;
}