.camera{
    z-index: 0;
}

.loadingContainer{
    flex: 1; 
    justify-content: center;
    margin: auto;
    align-items: "center";
}

.loadingText {
    font-size: 20;
    text-align: center;
    margin: 10px;
}

.predictionContainer {
    z-index: 100;
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    background-color: #FFFFFFCC;
    padding: 8px;
    border-radius: 20px;
    align-items: center;
}

.predictionText {
    padding: 2px 0px;
    font-size: 20;
}

.scoreContainer {
    z-index: 100;
    position: absolute;
    bottom: 54px;
    right: 24px;
    background-color: #FFFFFFCC;
    border-radius: 20px;
    padding: 8px;
    height: 85px;
    width: 85px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
}

.scoreText {
    padding: 2px 0px;
    font-size: 40;
    color: black;
}

.feedbackContainer {
    z-index: 100;
    position: absolute;
    bottom: 100px;
    left: -35px;
    background-color: rgba(252, 191, 73, 0.8);
    padding: 10px 10px;
    border-radius: 20px;
    align-items: center;
    transform: rotate(270deg);
}

.feedbackText {
    padding: 2px 0px;
    font-size: 20;
}

.directionContainer {
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 110px;
    left: -60px;
    background-color: rgba(252, 191, 73, 0.8);
    padding: 8px 25px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    align-items: center;
    transform: rotate(270deg);
}

.directionText {
    padding: 2px 0px;
    font-size: 20;
}

.timerContainer {
    z-index: 100;
    /* position: absolute; */
    /* bottom: 24px;
    left: 10px; */
    position: absolute;
    align-self: center;
    margin-top: 50px;
    width: 85px;
    height: 85px;
    background-color: #F77F00;
    padding: 8px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
}

.timerText {
    padding: 2px 0px;
    text-align: center;
    font-size: 30;
    color: #FFFFFF;
}

.startContainer {
    z-index: 1100;
    position: absolute;
    align-self: center;
    width: 85px;
    height: 85px;
    background-color: #F77F00;
    margin-top: 50px;
    padding: 8px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
}

.startText {
    padding: 2px 0px;
    font-size: 30;
    color: #FFFFFF;
}

.submitContainer {
    z-index: 1100;
    position: absolute;
    top: 70px;
    /* right: -60; */
    align-self: flex-end;
    background-color: #F77F00;
    padding: 10px 24px;
    /* height: 60px;
    width: 200px; */
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
}

.submitText {
    padding: 2px 0px;
    font-size: 30;
    color: #FFFFFF;
}
